body{
    padding: 0;
    margin: 0;
}

.main{
    height: 100vh;
    width: 100%;
    background-image: url(/images/WhatsApp\ Image\ 2024-02-08\ at\ 12.03.30\ \(1\).jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside{
    height: 90%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.342);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inside h1{
    font-size:90px ;
    color: firebrick;
}

.inside input{
    height: 10%;
    width: 70%;
    margin:10px;
}

.inside button{
    height: 7%;
    width: 50%;
    background-color: red;
    border-radius: 20px;
    color:chartreuse;
    font-size:20px;
}

.inside h2{
    font-size: 30px;
    font-weight: 700;
    color:whitesmoke;
}

.inside h3{
    font-size:20px;
    font-weight: 500;
    color:whitesmoke ;
}

.word h4{
    color: white;
    font-size: 15px;
}

.word h2{
    font-size: 20px;
}

.word{
    height: 10%;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.inside h5{
    font-size:20px;
    color:whitesmoke;
}



























